
# GLOBÁLIS BEÁLLÍTÁSOK
stages:
  - test
  - build_image

# VÁLTOZÓK (VARIABLES)
variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  
  # A teszteléshez szükséges Python image
  PYTHON_IMAGE: "python:3.11-slim"

# STAGE: TEST (Unit-test sikeres futtatása & Artifact kiadása)
unit_test_job:
  stage: test
  image: $PYTHON_IMAGE
  script:
    - echo "--- 1. Függőségek telepítése (requirements.txt) ---"
    - pip install -r requirements.txt
    
    - echo "--- 2. Unit teszt futtatása (test_app.py) ---"
    - python3 test_app.py
    
    # Egy szabadon választható artifact kiadása
    - echo "--- 3. Artifact létrehozása ---"
    - echo "Unit test sikeresen lefutott a $(date) időpontban." > test_report.txt
    - echo "Artifact létrehozva: test_report.txt"
  artifacts:
    paths:
      - test_report.txt
    expire_in: 30 days


# 2. BUILD_IMAGE (Docker image előállítása és feltöltése)
build_and_push_image:
  stage: build_image
  
  image: docker:24.0.5
  
  services:
    - docker:24.0.5-dind
    
  script:
    - echo "--- 1. Belépés a GitLab Image Registrybe ---"
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    
    # Docker fájl alapján a docker image előállítása
    - echo "--- 2. Docker image előállítása (docker build) ---"
    - docker build -t $IMAGE_TAG .
    
    # Az előállított docker image feltöltése a publikus GitLab image registrybe
    - echo "--- 3. Image feltöltése a GitLab Registrybe (docker push) ---"
    - docker push $IMAGE_TAG
  
  only:
    - main